[user]
	name = Yuan Huang
	email = yuan.huang10@gmail.com

[core]
	editor = vim
	pager = less -FX

[init]
	defaultBranch = main

[pull]
	rebase = false

[merge]
	ff = false

[push]
	default = current

[diff]
	colorMoved = zebra

[credential]
	helper = osxkeychain

[rerere]
	enabled = true

[safe]
	directory = /opt/homebrew

[alias]
	st = status
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
